<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Create new Employee</title>
</head>
<body>
	<div align="center">
		<h1>Create new Employee</h1>
		<br />
		<form action="#" th:action="@{'/rest/save'}" th:object="${employee}"
			method="post">
			<table border="1" cellpadding="10">
				<tr>
					<td>id</td>
					<td><input type="text" th:field="*{id}"></td>
				</tr>
				<tr>
					<td>name</td>
					<td><input type="text" th:field="*{name}"></td>
				</tr>
				<tr>
					<td>sal</td>
					<td><input type="text" th:field="*{sal}"></td>
				</tr>
				<tr>
					<td colspan="2"><button type="submit">Save</button></td>
				</tr>
			</table>
		</form>
	</div>
</body>
</html>